<%- layout('/layouts/boilerplate2') %>
<section>
  <div class="imageH">
    <h1><%= project.title%></h1>
  </div>

  <section class="content-show">
    <div class="col1">
      <ul>
        <li>
          <a href=""><span>description</span></a>
        </li>
        <li>
          <a href=""><span>give it a shot!</span></a>
        </li>
        <li>
          <a href=""><span>leave a comment</span></a>
        </li>
      </ul>
      <div class="lineV"></div>
    </div>
    <div class="col2">
      <div>
        <h1>Description</h1>
        <!-- <p><%= project.description%></p> -->
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt porro
          fugiat aperiam molestias voluptas quo facilis nihil voluptatem
          assumenda beatae non iste laborum, laudantium, dicta ullam nisi id
          incidunt unde? Deleniti dicta accusamus necessitatibus autem eaque
          tenetur velit aut obcaecati assumenda ea corrupti, minus dolore
          libero, nesciunt officiis? Neque tenetur enim dicta itaque non
          exercitationem porro quibusdam quae autem optio. Rerum voluptate,
          suscipit nostrum cupiditate ipsa iure adipisci facere sit quos neque
          corrupti similique assumenda vel fuga sunt molestias doloremque,
          consequatur at voluptatem quam pariatur ex officia! Nulla, tempora
          itaque? Earum corporis, recusandae esse odit neque minus aut
          asperiores est voluptatem ab voluptatibus aliquid obcaecati provident
          veniam laborum repellendus, placeat, modi eveniet blanditiis dicta
          voluptatum? Dolorum commodi perferendis corporis eaque! Illo, ipsam!
          Eveniet sed consectetur corrupti officiis adipisci numquam beatae vero
          non, molestiae minus! Neque nihil quisquam consectetur doloremque
          provident laudantium corporis quos numquam? Commodi obcaecati
          explicabo corporis ducimus neque? Numquam perspiciatis neque quidem
          rerum facilis! Sit sunt reprehenderit minima ex porro optio, vero
          perspiciatis, quo labore enim, deleniti accusantium unde doloribus ut
          assumenda voluptatum? Itaque ex reprehenderit nesciunt reiciendis? Cum
          architecto reprehenderit quod ipsa vitae dolorum. Iste ipsum quisquam
          distinctio suscipit perferendis maxime nobis ea iure eveniet culpa,
          tempora consectetur! Laborum, id minus architecto laudantium earum
          porro cupiditate eaque. Praesentium excepturi officiis doloremque at,
          id nisi harum expedita ullam impedit, fuga, sequi porro asperiores
          quaerat. Quo nemo, nostrum distinctio suscipit impedit earum quam
          tenetur, reiciendis voluptatum fuga enim at?q
        </p>
      </div>
    </div>
    <div class="col3">
      <div>
        <tag>
          Language or tool used
          <ul>
            <% for (let tag of project.tags) {%>
            <li><%= tag %></li>
            <% } %>
          </ul>
        </tag>
        <span>Source Code :<%= project.link %></span>
        <br />
        <a class="" href="/project2/<%=project._id%>/e">Edit</a>
        <form action="/project2/<%=project._id%>?_method=DELETE" method="POST">
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </section>
</section>
